.notification-success {
  color: white;
  background-color: #685dc3;
  border-left: 8px solid darken(#685dc3, 15%);
}


@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');

html, body{
  height:100%;
  width:100%;
  font-family: 'Raleway', sans-serif;
  background-color:#efefef;
  display: table;
  text-align: center;

}

.notification-content {
    display: table-cell;
    vertical-align: middle;
}

.notification-item-child{
  display:inline-block;
}

.add-margin{
  margin-top:20px;
}

.toast__svg{
  fill:#fff;
}

.notification-item {
  text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.notification-message {
    font-size: 14px;
    margin-top: 0;
  margin-bottom: 0;
    color: black;
      padding-left:20px;
  padding-right:60px;
}

.notification-title{
  color: black;
  padding-left:20px;
  padding-right:60px;
}

.notification-close {
    position: absolute;
    right: 10px;
    top: 10%;
    width: 14px;
    cursor:pointer;
    height: 14px;
  fill:#878787;
    transform: translateY(-50%);
}

.notification-success {
  background-color:#29c427;
}

.notification-error {
  background-color:#de452b;
}

..notification-default {
  background-color:#2bc3de;
}

.notification-info {
  background-color:#29c4c4;
}

.notification-warning {
  background-color:#FFC007;
}
